{% extends 'eDemyMainBundle::base.html.twig' %}

{% block content -%}
	<div id="doc">
		1.-Texto Copyright.

		(c) Queda prohibida la reproducci&oacute;n, duplicaci&oacute;n, redistribuci&oacute;n y/o comercializaci&oacute;n, total o parcial, de los contenidos del web site www.blenderseyewear.es,  salvo con consentimiento previo por escrito de Vicente Javier Vera Martinez, y seg&uacute;n se hace constar en las Condiciones de uso/acceso del web www.blenderseyewear.es.


		2.-Texto condiciones uso.

		1.-OBJETO
		2.- DERECHOS Y OBLIGACIONES DEL USUARIO
		2.1.- CONDICIONES DE ACCESO Y USO
		2.1.1.- ACEPTACI&oacute;N DE LAS CONDICIONES - SUSCRIPCI&oacute;N DE USUARIO
		2.2.- CONTENIDO Y ACTUACIONES DEL USUARIO
		3.- DERECHO Y OBLIGACIONES DE Blenderseyewear
		4.- PROPIEDAD INTELECTUAL
		5.- PROTECCI&oacute;N DE DATOS
		6.- FUERO Y LEGISLACI&oacute;N



		1.-OBJETO
		Las presentes Condiciones Generales de Acceso y Uso (en adelante las • Condiciones de Uso•) tienen por objeto regular las condiciones de uso y utilizaci&oacute;n del website o web sites de Internet emplazado/s en la direcci&oacute;n : www. Blenderseyewear.es y de la que es titular Blenders Eyewear Espa&ntilde;a, con NIF 44755798Y, domicilio social en Avda Jose Martinez Gonzalez n 25 2d- 03600 Elda – Alicante- Espa&ntilde;a, (en adelante BLENDERSEYEWEAR, Tienda de Gafas).

		BLENDERSEYEWEAR, Tienda de Gafas , ha sido elaborada para dar a conocer y permitir el acceso a la informaci&oacute;n en ella contenida, con las restricciones y limitaciones que imponen las presentes Condiciones Generales as&iacute; como permitir y posibilitar el acceso a otras p&aacute;ginas con las que la web de BLENDERSEYEWEAR, Tienda de Gafas,  tenga relaciones comerciales, profesionales o de cualquier otra &iacute;ndole.







		El Objeto social de gafas de sol BLENDERSEYEWEAR, Tienda de Gafas es:
		BLENDERSEYEWEAR, Tienda de Gafas es una plataforma de venta  online de GAFAS  y accesorios para gafas de sol de la marca  BLENDERSEYEWEAR
		2.-DERECHOS Y OBLIGACIONES DEL USUARIO

		2.1.-CONDICIONES DE ACCESO Y USO
		A trav&eacute;s de la direcci&oacute;n emplazada en www.blenderseyewear.es, cualquier usuario podr&aacute; acceder gratuitamente a la informaci&oacute;n contenida en el citado WEBSITE.

		Las condiciones de acceso al web est&aacute;n supeditadas a las disposiciones legales vigentes en cada momento as&iacute; como a los principios de buena fe y uso l&iacute;cito por parte del Usuario, prohibi&eacute;ndose expresa y taxativamente cualquier tipo de actuaci&oacute;n que pudiera ir en detrimento o perjuicio del Portal o de terceros.

		El web no exige la previa suscripci&oacute;n ni el registro para la simple navegaci&oacute;n, o para el acceso o utilizaci&oacute;n de algunos servicios del web. Por el contrario, para recibir avisos por correo electr&oacute;nico de novedades en las ofertas o descuentos es necesario suscribirse.

		Los servicios o contenidos que exijan suscripci&oacute;n para su acceso o uso se acompa&ntilde;ar&aacute;n del aviso correspondiente de necesidad de suscripci&oacute;n.  En lo que al tratamiento de datos personales se refiera, v&eacute;ase la Pol&iacute;tica de Privacidad de BLENDERSEYEWEAR, Tienda de Gafas.


		2.1.1.-ACEPTACI&oacute;N DE LAS CONDICIONES / SUSCRIPCI&oacute;N DE USUARIO
		La mera utilizaci&oacute;n del web  o la confirmaci&oacute;n del correspondiente campo en el proceso de registro como un Usuario Subscriptor, implicar&aacute; que quedan aceptadas las condiciones generales de uso de BLENDERSEYEWEAR, Tienda de Gafas. 
		A trav&eacute;s del web de BLENDERSEYEWEAR, Tienda de Gafas se facilitar&aacute; a todos los Usuarios la posibilidad de acceder a los contenidos, servicios y dem&aacute;s informaci&oacute;n concerniente al objeto social de la presente entidad. 

		Las presentes condiciones de uso constituyen &iacute;ntegramente lo convenido entre las partes tanto en el acceso y uso.

		BLENDERSEYEWEAR, Tienda de Gafas atuitos est&aacute; facultada para modificar unilateralmente todas y cada una de las obligaciones dispuestas en las presentes Condiciones Generales de Uso, sin necesidad de previo aviso. Igualmente est&aacute; capacitada para reestructurar, modificar o eliminar cualquier informaci&oacute;n, servicio o contenido incluido en el website, sin necesidad de previo aviso. La modificaci&oacute;n de cualquiera de las presentes condiciones generales para un caso particular s&oacute;lo tendr&aacute; validez cuando haya sido recogida por escrito y firmada por los representantes legales de cada parte.

		Igualmente, BLENDERSEYEWEAR, Tienda de Gafas de sol se reserva el permiso de acceso o uso de algunos de los Servicios del web, ahora o en un futuro, pudiendo exigir para su acceso la condici&oacute;n de Usuario Suscrito, condici&oacute;n que en dicho caso se podr&aacute; obtener mediante la inserci&oacute;n del e-mail del usuario en la correspondiente casilla de suscripci&oacute;n de Usuarios que BLENDERSEYEWEAR, Tienda de Gafas pondr&aacute; a disposici&oacute;n de los Usuarios que as&iacute; lo deseen.

		Veracidad de los datos
		Por la cumplimentaci&oacute;n de estos formularios, casillas de suscripci&oacute;n  o herramientas similares, el USUARIO reconoce que los datos suministrados son obtenidos directamente del usuario, veraces y ciertos, comprometi&eacute;ndose a notificar a BLENDERSEYEWEAR, Tienda de Gafas, cualquier cambio o modificaci&oacute;n que se produzca en los mismos.


		2.2.-CONTENIDO Y ACTUACIONES DEL USUARIO
		El Usuario se compromete a hacer un uso licito, diligente, honrado y correcto de cuanta informaci&oacute;n o contenido tenga acceso bien a trav&eacute;s de la pagina web de BLENDERSEYEWEAR, Tienda de Gafas o de terceros previamente proporcionada por BLENDERSEYEWEAR, Tienda de Gafas y todo ello bajo los principios de la buena fe y con respeto en todo momento a la legalidad vigente.

		El Usuario deber&aacute; abstenerse de obtener, salvo para uso personal, cuanta informaci&oacute;n (enti&eacute;ndase por informaci&oacute;n como cualquier mensaje, archivos de sonido, fotograf&iacute;as, dibujos, software y en general cualquier clase o tipo de archivo inform&aacute;tico, gr&aacute;fico etc..) que sea propiedad del web.

		Igualmente el Usuario adquiere el compromiso de no provocar ni maliciosa ni intencionadamente da&ntilde;os o perjuicios que puedan menoscabar, alterar el propio web as&iacute; como no introducir, ni difundir los denominados •virus inform&aacute;ticos• que puedan producir alteraciones no autorizadas de los contenidos o sistemas integrantes del web. El compromiso adquirido se ha de regir sobre la utilizaci&oacute;n contenidos de conformidad con lo dispuesto en la ley, moral y orden publico; no copiar, reproducir, distribuir, ceder, transformar o modificar los contenidos sin previo consentimiento y por escrito de BLENDERSEYEWEAR, Tienda de Gafas o persona por este delegada.

		A este respecto, BLENDERSEYEWEAR, Tienda de Gafas se exonera de cualquier tipo de fallo o virus inform&aacute;tico introducido por terceros.

		A cumplir todos los requisitos dispuestos en relaci&oacute;n a los derechos de propiedad intelectual, industrial y dem&aacute;s an&aacute;logos.


		La informaci&oacute;n proporcionada EN LA WEB no deber&aacute; ser considerada en ning&uacute;n momento ni completa ni exhaustiva . BLENDERSEYEWEAR, Tienda de Gafas por su parte tratar&aacute; en la medida de sus posibilidades de actualizar constantemente esta informaci&oacute;n.

		BLENDERSEYEWEAR, Tienda de Gafas manifiesta que el servicio/producto ofrecido en la web se corresponde con la descripci&oacute;n del mismo. No obstante queda exonerada de responsabilidad para aquellos supuestos en los que por errores t&eacute;cnicos o humanos hubiese equivocaciones o variaciones entre las im&aacute;genes, la descripci&oacute;n y el precio. Igualmente se pone de manifiesto que las fotograf&iacute;as tienen un mero car&aacute;cter orientativo pudiendo existir variaciones en lo que a su aspecto f&iacute;sico respecta pero sin menoscabar la integridad y prestaciones del servicio/producto ofrecido y/o solicitado.

		BLENDERSEYEWEAR, Tienda de Gafas se exonera de los contenidos, informaci&oacute;n, opiniones o comentarios difundidos a trav&eacute;s de su web ni responder&aacute; del uso que el Usuario haga de esa informaci&oacute;n.


		3.- DERECHO Y OBLIGACIONES DE BLENDERSEYEWEAR, Tienda de Gafas

		BLENDERSEYEWEAR, Tienda de Gafas responder&aacute; &uacute;nica y exclusivamente de los servicios que preste por ella misma y de los contenidos directamente originados por el propio web e identificado con su correspondiente copyright.

		BLENDERSEYEWEAR, Tienda de Gafas se compromete a la adopci&oacute;n de los medios y medidas necesarias que permitan garantizar la seguridad y privacidad en la comunicaciones. No responder&aacute; cuando adoptadas las pertinentes medidas de seguridad, estas fueren vulneradas por agentes externos.

		BLENDERSEYEWEAR, Tienda de Gafas no ser&aacute; responsable ni siquiera de forma indirecta o subsidiaria, por ning&uacute;n contenido, informaci&oacute;n, opini&oacute;n o manifestaci&oacute;n de cualquier tipo, que tenga su origen en el Usuario o terceras personas o entidades y que tengan acceso, transmitan, comuniquen, traten, exhiban o vendan dicha informaci&oacute;n al web titularidad de BLENDERSEYEWEAR, Tienda de Gafas.

		BLENDERSEYEWEAR, Tienda de Gafas se reserva el derecho a suspender temporalmente la prestaci&oacute;n del servicio sin previo aviso al Usuario, siempre y cuando sea necesario para efectuar operaciones de mantenimiento, actualizaci&oacute;n o mejora del servicio. Igualmente podr&aacute; modificar las condiciones de acceso y o concreta ubicaci&oacute;n del contenido integrante del web, as&iacute; como impedir, restringir, bloquear, suprimir o retirar el acceso a los servicios a los Usuarios cuando estos no hicieren un uso licito, honrado y diligente de los servicios prestados en el website. En la misma l&iacute;nea podr&aacute; retirar, bloquear o restringir el uso de los contenidos introducidos por terceras personas que fueren il&iacute;citos, racistas delictivos, de apolog&iacute;a de terrorismo, violaci&oacute;n de derechos humanos, difamatorios, pornogr&aacute;ficos, constitutivos de estafa o de cualquier otro modo que infrinjan las leyes o normativas aplicables bien sean nacionales como internacionales.

		BLENDERSEYEWEAR, Tienda de Gafas no asegura la disponibilidad y continuidad permanente del web debido a interrupciones, fallos etc.. as&iacute; como tampoco responder&aacute; de los da&ntilde;os y perjuicios que pueda causar a los Usuarios por los virus inform&aacute;ticos o agentes externos que terceras personas puedan depositar en el website o en los documentos electr&oacute;nicos y ficheros almacenados en el sistema inform&aacute;tico.

		El Website pone a disposici&oacute;n de los Usuarios ciertas herramientas tales como fichas,  botones, banners, links o enlaces que permitan al Usuario acceder a contenidos u otros sites relacionados con la actividad del web u otros diferentes. La instalaci&oacute;n de estas herramientas tienen como fin &uacute;ltimo proporcionar y facilitar la navegaci&oacute;n al Usuario, no siendo responsable parte BLENDERSEYEWEAR, Tienda de Gafas de los websites a los que acceda el Usuario a trav&eacute;s de su pagina, en lo que al Derecho al Honor pueda afectar y la informaci&oacute;n proporcionada. Por su parte BLENDERSEYEWEAR, Tienda de Gafas tratar&aacute; en la medida de sus posibilidades de comprobar dichos hiperv&iacute;nculos, restringiendo, bloqueando o suspendiendo dichos botones cuando atentaren contra el principio descrito en las presentes Condiciones Generales.

		4.-PROPIEDAD INTELECTUAL
		La totalidad de los contenidos a los que se acceda a trav&eacute;s del servicio prestado por BLENDERSEYEWEAR, Tienda de Gafas est&aacute;n sujetos a los Derechos de Propiedad Intelectual e Industrial de BLENDERSEYEWEAR, Tienda de Gafas o de terceros. Dicho contenido no podr&aacute; ser usado, duplicado, distribuido, vendido, explotado o cualquier otra forma con prop&oacute;sito comercial o no, sin el previo y preceptivo consentimiento y por escrito su titular (BLENDERSEYEWEAR, Tienda de Gafas).

		Igualmente BLENDERSEYEWEAR, Tienda de Gafas ser&aacute; responsable respecto de las marcas, logos y dem&aacute;s signos distintivos que se incorporen en cualquier parte del website y que sean propiedad de BLENDERSEYEWEAR, Tienda de Gafas, as&iacute; como titular de todos los derechos de Propiedad Intelectual o Industrial o como licenciatario de los mismos.

		Todos los contenidos y partes integrantes del website de BLENDERSEYEWEAR, Tienda de Gafas han sido incluidos conforme a los principios de la buena fe, indicando que la  informaci&oacute;n puede proceder total o parcialmente de fuentes externas a la propia entidad raz&oacute;n por la cual BLENDERSEYEWEAR, Tienda de Gafas no se responsabiliza en manera alguna de la inexactitud o no actualizaci&oacute;n de los contenidos mostrados.

		Por el contrario todos aquellos contenidos procedentes de fuentes internas estar&aacute;n debidamente identificados con su copyright. La entidad se reserva el derecho o facultad de efectuar cualquier cambio en cualquier momento sin necesidad de previo aviso. Todos los contenidos incluidos en la pagina procedentes de fuentes internas que lleven su signo identificativo de copyright, son responsabilidad &uacute;nica y exclusivamente de BLENDERSEYEWEAR, Tienda de Gafas.


		5.- PROTECCI&oacute;N DE DATOS
		BLENDERSEYEWEAR, Tienda de Gafas plenamente concienciada del uso y tratamiento que se le deben dar a los datos de car&aacute;cter personal y en virtud de la normativa legal existente al respecto (LOPD y LSSICE), tiene implantado en el seno de su organizaci&oacute;n  un sistema para preservar la seguridad, integridad y confidencialidad de los datos considerados como personales.

		Para ello adem&aacute;s de cumplir integramente todos y cada uno de los requisitos dispuestos en la Ley Org&aacute;nica 15/1999, de 13 de Diciembre, de Protecci&oacute;n de Datos de Car&aacute;cter Personal, y los dispuestos en la Ley 34/2002 LSSICE,  garantiza un uso no solo legal sino leal de los datos personales as&iacute; como un sistema adecuado para ejercitar los derechos de acceso rectificaci&oacute;n, cancelaci&oacute;n y oposici&oacute;n dispuestos en la ya mencionada Ley Org&aacute;nica.

		De conformidad con lo dispuesto en la pol&iacute;tica de privacidad de BLENDERSEYEWEAR, Tienda de Gafas, se hace constar que cualquier persona podr&aacute; ejercitar sus derechos de acceso, rectificaci&oacute;n, cancelaci&oacute;n y en su caso, oposici&oacute;n mediante el env&iacute;o de un e-mail a la direcci&oacute;n info@Blenderseyewear.es.

		A este respecto v&eacute;ase Pol&iacute;tica de Privacidad del Portal BLENDERSEYEWEAR, Tienda de Gafas.


		6.-FUERO Y LEGISLACI&oacute;N
		Las presentes Condiciones Generales se someten a la legislaci&oacute;n espa&ntilde;ola, que ser&aacute; aplicable en relaci&oacute;n a su validez, interpretaci&oacute;n, ejecuci&oacute;n y cumplimiento. Todas las discrepancias, reclamaciones y controversias respecto a lo dispuesto anteriormente se resolver&aacute;n mediante un arbitraje de Derecho de acuerdo con las normas de la Corte Civil y Mercantil de arbitraje de Badajoz a cuya normativa se someter&aacute;n. Dicho Laudo estar&aacute; compuesto por tres &aacute;rbitros nombrados conforme a dicha normativa. . Si el arbitraje no llegara a realizarse por mutuo acuerdo o fuese declarado nulo, ambas partes se someten a los Juzgados y Tribunales de la ciudad de Badajoz, con renuncia expresa a su propio fuero si &eacute;ste fuese otro.

		El Usuario, declara haber le&iacute;do, conocer y aceptar las presentes Condiciones Generales de Uso-Acceso en toda su extensi&oacute;n.






		3.-Texto Protecci&oacute;n datos.

		De conformidad con la Ley 15/1999 de datos de Car&aacute;cter personal y la ley 34/2002 de la Sociedad de la Informaci&oacute;n (LSSICE) le informamos que :

		Existen distintas formas de que sus datos personales o comerciales pasen a nuestro fichero y por tanto distintas finalidades y usos de sus datos en el futuro, siempre con su consentimiento :

		Formulario de Contacto o Consulta: Si da su consentimiento  antes del env&iacute;o de la consulta o formulario de contacto sus datos formar&aacute;n parte de nuestro fichero y la finalidad ser&aacute; enviarle cualquier tipo de informaci&oacute;n acerca de BLENDERSEYEWEAR, Tienda de Gafas, (comercial, nuevos productos, ofertas, suscripciones, promociones, informaci&oacute;n corporativa,...), en adelante INFORMACI&oacute;N GENERAL.

		Formulario de registro de usuario: En este caso sus datos ser&aacute;n tratados con la finalizdad de poder llevar a cabo el env&iacute;o del pedido y gestiones administrativas. Adem&aacute;s si da su consentimiento en el registro como usuario via web o trav&eacute;s de su autenticaci&oacute;n en Facebook,  sus datos formar&aacute;n parte de nuestro fichero y la finalidad ser&aacute; enviarle cualquier tipo de informaci&oacute;n acerca de BLENDERSEYEWEAR, Tienda de Gafas, (comercial, nuevos productos, ofertas, suscripciones, promociones, informaci&oacute;n corporativa,...), en adelante INFORMACI&oacute;N GENERAL.

		En todo momento podr&aacute; dirigirse a info@Blenderseyewear.es, para rectificar sus preferencias respecto a la informaci&oacute;n a recibir o el deseo de no recibir ning&uacute;n tipo de informaci&oacute;n, o cambiar sus datos personales, la direcci&oacute;n de env&iacute;o de la informaci&oacute;n,...

		La desuscripci&oacute;n de recibir INFORMACI&oacute;N GENERAL o de cualquier tipo puede hacerla mandando un mail a hola@Blenderseyewear.es. 

		Los env&iacute;os de e-mail info@ Blenderseyewear.es. o mediante correo postal para cambios en datos, altas o bajas requerir&aacute;n identificaci&oacute;n , consulte en la Pol&iacute;tica de privacidad (derechos de acceso, rectificaci&oacute;n y cancelaci&oacute;n).





		Por tanto :

		Si se ha suscrito, registrado o ha dado su consentimiento en alguno de los formularios de contacto existentes en  :  www. Blenderseyewear.es, sus datos pasaran a formar parte de un fichero automatizado propiedad de BLENDERSEYEWEAR, Tienda de Gafas, domicilio social en Avda Jose Martinez Gonzalez n 25 2d- 03600 Elda – Alicante- Espa&ntilde;a,  con la finalidad de identificarle en el caso del registro como usuario, mantenerle informado en caso de suscripci&oacute;n y enviarle informaci&oacute;n comercial de BLENDERSEYEWEAR, Tienda de Gafas en cualquier caso, y siempre que haya dado su conformidad para recibir este tipo de informaci&oacute;n. Usted tiene derecho a acceder a este fichero para informaci&oacute;n, rectificaci&oacute;n o, en su caso, cancelaci&oacute;n de sus datos cuando as&iacute; lo desee. Consulte Pol&iacute;tica de privacidad.

		Si sus datos han sido recogidos para la utilizaci&oacute;n de alg&uacute;n servicio de informaci&oacute;n que no requiera registro o suscripci&oacute;n y no ha dado su consentimiento para recibir informaci&oacute;n futura de promociones y noticias de BLENDERSEYEWEAR, Tienda de Gafas estos ser&aacute;n eliminados una vez resuelta la consulta o informaci&oacute;n solicitada, es decir, no ser&aacute;n guardados en nuestra Base de datos.




		4.-Texto Pol&iacute;tica Privacidad.

		De conformidad con lo dispuesto en las Condiciones Generales de Acceso y Uso de la Pagina Web de BLENDERSEYEWEAR, Tienda de Gafas, queremos que conozcas, mediante esta p&aacute;gina, cu&aacute;les son los criterios y reglas que seguimos respecto a la utilizaci&oacute;n de los datos que t&uacute; libre y voluntariamente nos facilites a trav&eacute;s de nuestra pagina web. Nuestros criterios y reglas, es decir nuestra pol&iacute;tica de protecci&oacute;n de datos, pueden variar con el tiempo debido a posibles cambios legislativos o de los criterios seguidos por la Agencia de Protecci&oacute;n de Datos, a la cual te podr&aacute;s dirigir, en caso que consideres que podamos haber incumplido algo de lo que en est&aacute; pagina te contamos. Si se produjese alg&uacute;n cambio te mantendremos informado a trav&eacute;s de esta p&aacute;gina.

		BLENDERSEYEWEAR, Tienda de Gafas informa a sus Usuarios que a lo largo del website existen distintas herramientas de recogida de datos (formularios, participaci&oacute;n en sorteos, ...) utilizadas por el usuario para solicitar informaci&oacute;n, realizar consultas, solicitar su suscripci&oacute;n en BLENDERSEYEWEAR, Tienda de Gafas o para el registro como Usuario para acceder a determinados servicios.

		La cumplimentaci&oacute;n de estos formularios o herramientas de recogida de datos y previo consentimiento por parte del usuario implicar&aacute;n la inclusi&oacute;n de sus datos en nuestro fichero, inform&aacute;ndole a este respecto que:

		Veracidad de los datos.
		Por la cumplimentaci&oacute;n de estos formularios o herramientas similares, el USUARIO reconoce que los datos suministrados son veraces y ciertos, comprometi&eacute;ndose a notificar a BLENDERSEYEWEAR, Tienda de Gafas, cualquier cambio o modificaci&oacute;n que se produzca en los mismos.




		Existencia de un fichero y ubicaci&oacute;n.
		BLENDERSEYEWEAR, Tienda de Gafas informa al USUARIO que los datos personales recogidos en estos formularios ser&aacute;n facilitados a BLENDERSEYEWEAR, Tienda de Gafas directamente por el usuario, o si estos interviniesen, por su comercial, por su agente o distribuidor de valor a&ntilde;adido, para su introducci&oacute;n en un fichero creado y mantenido bajo la responsabilidad de BLENDERSEYEWEAR, Tienda de Gafas, cuya ubicaci&oacute;n se localiza en oficinas centrales de la compa&ntilde;&iacute;a.
		.

		Dicho fichero o base de datos est&aacute; plenamente identificado e inscrito en la Agencia de Protecci&oacute;n de Datos bajo el nombre USUARIOS BLENDERS EYEWEAR, garantiz&aacute;ndose en todo momento que los datos solicitados son adecuados, pertinentes y no excesivos para el uso para el que han sido recabados.

		Los campos que componen los formularios de inscripci&oacute;n, informaci&oacute;n, alta o suscripci&oacute;n, podr&aacute;n ser de car&aacute;cter obligatorio o facultativo, tanto para servicios libres como para los que se requiere la condici&oacute;n de usuario registrado. BLENDERSEYEWEAR, Tienda de Gafas no impone en ning&uacute;n momento al Usuario la obligaci&oacute;n de rellenar determinados campos que no son relevantes, pero si solicita sean rellenados otros campos que son necesarios para su gesti&oacute;n, tratamiento y comprobaci&oacute;n as&iacute; como para el env&iacute;o de la informaci&oacute;n solicitada. Igualmente se informa que de no rellenar los campos considerados como obligatorios, no se proceder&aacute; a efectuar el servicio vinculado al formulario, pudiendo tratarse de una petici&oacute;n de informaci&oacute;n, un presupuesto, o un registro de usuario, no gozando en este &uacute;ltimo caso de la condici&oacute;n de Usuario Registrado.

		El USUARIO autoriza a BLENDERSEYEWEAR, Tienda de Gafas, sus agentes, sus comerciales y sus distribuidores cuya intervenci&oacute;n sea necesaria para la prestaci&oacute;n del Servicio, a tratar sus datos de car&aacute;cter personal con car&aacute;cter confidencial y de conformidad con la Ley Org&aacute;nica 15/1999 de 13 de diciembre, de Protecci&oacute;n de Datos de Car&aacute;cter Personal y con los fines recogidos a continuaci&oacute;n

		Finalidades de la recogida de datos.
		BLENDERSEYEWEAR, Tienda de Gafas declara que los datos personales recabados ser&aacute;n utilizados para remitir INFORMACI&oacute;N GENERAL de la compa&ntilde;&iacute;a, previo consentimiento, as&iacute; como identificar a los destinatarios de los servicios solicitados en el caso de usuarios registrados, y con el fin de tramitar y gestionar las labores t&eacute;cnicas y administrativas necesarias para suministrar el servicio solicitado y/o contratado por dichos usuarios o clientes en su caso, y con la finalidad de reportar en todo momento al Usuario nuestra mejor atenci&oacute;n.

		BLENDERSEYEWEAR, Tienda de Gafas informa al USUARIO que los datos personales recabados podr&aacute;n ser utilizados para medir el inter&eacute;s del USUARIO en la calidad de los servicios suministrados, con el fin de mejorar y ajustar los mismos a las preferencias del CLIENTE. Asimismo sus datos personales podr&aacute;n ser tratados para desarrollar nuevos servicios y para remitirle informaci&oacute;n comercial sobre los productos y servicios ofrecidos por BLENDERSEYEWEAR, Tienda de Gafas, siempre y cuando haya dado su conformidad para recibir este tipo de informaci&oacute;n. Dicha informaci&oacute;n comercial ser&aacute; enviada a la direcci&oacute;n de correo electr&oacute;nico aportada por el USUARIO, identificando la comunicaci&oacute;n como informaci&oacute;n publicitaria de forma que el USUARIO pueda eliminar el mensaje publicitario desde el primer momento, todo ello sin perjuicio de su derecho a oponerse a recibir este tipo de comunicaciones. Sus datos personales podr&aacute;n ser tambi&eacute;n utilizados para el registro peri&oacute;dico de las altas y bajas de los servicios contratados, as&iacute; como para valorar la demanda de los servicios, la fidelizaci&oacute;n de los USUARIO y el efecto que promociones o comunicaciones comerciales concretas pueden tener sobre dicha demanda.

		Los datos ser&aacute;n tratados informatizadamente por personal cualificado de BLENDERSEYEWEAR, Tienda de Gafas y su acceso estar&aacute; restringido a excepci&oacute;n de quienes en virtud de su cargo debieran acceder a dicha informaci&oacute;n.

		En caso de que el usuario realice una simple consulta y no de conformidad a recibir informaci&oacute;n futura, sus datos ser&aacute;n eliminados una vez resuelta la consulta efectuada.

		Igualmente BLENDERSEYEWEAR, Tienda de Gafas informa a los Usuarios Registrados en el WEB que para tener esta condici&oacute;n, BLENDERSEYEWEAR, Tienda de Gafas requiere siempre que se cumplimente un formulario donde deber&aacute;n introducirse determinados datos personales de los Usuarios, adem&aacute;s de un nombre de usuario y contrase&ntilde;a que BLENDERSEYEWEAR, Tienda de Gafas registrar&aacute; para identificarle en pr&oacute;ximos accesos.(ver Condiciones de Uso).

		Dichos datos personales ser&aacute;n introducidos en una Base de datos propiedad de BLENDERSEYEWEAR, Tienda de Gafas con la finalidad de verificar los accesos del usuario y prestar el servicio solicitado mediante autenticaci&oacute;n.

		A su vez estos datos podr&aacute;n ser utilizados para remitir informaci&oacute;n comercial, promociones o noticias de la compa&ntilde;&iacute;a siempre y cuando el usuario registrado as&iacute; lo haya solicitado. Si el usuario registrado no deseara recibir informaci&oacute;n futura de BLENDERSEYEWEAR, Tienda de Gafas tan solo deber&aacute; indicarlo en el registro o despu&eacute;s de este en cualquier momento por cualquiera de los medios disponibles. Independientemente de que opte o no por recibir informaci&oacute;n futura de BLENDERSEYEWEAR, Tienda de Gafas, sus datos deber&aacute;n permanecer en nuestra Base de datos para gozar de la condici&oacute;n de Usuario registrado y su acceso a las zonas que as&iacute; lo requieren.

		Medidas de seguridad y garant&iacute;as
		BLENDERSEYEWEAR, Tienda de Gafas garantiza que sus datos personales ser&aacute;n tratados con m&aacute;xima confidencialidad y secreto, adoptando BLENDERSEYEWEAR, Tienda de Gafas al respecto las Medidas de Seguridad de nivel b&aacute;sico aplicables a los mismos para evitar su p&eacute;rdida, alteraci&oacute;n, tratamiento o acceso no autorizado por terceros.

		Asimismo BLENDERSEYEWEAR, Tienda de Gafas se compromete a aplicar las siguientes garant&iacute;as:
		1-a no ceder en ning&uacute;n caso, a terceras personas, los datos recabados
		2-a utilizar los datos personales &uacute;nica y exclusivamente para las finalidades indicadas
		3-a eliminar los datos personales del USUARIO en un plazo de cuatro a&ntilde;os desde la conclusi&oacute;n del servicio, fecha en la que dichos datos se integrar&aacute;n en un archivo hist&oacute;rico de acceso restringido creado a efectos de controles estad&iacute;sticos, administrativos, fiscales y/o judiciales.






		Relaciones con terceros.
		BLENDERSEYEWEAR, Tienda de Gafas le informa que una copia del fichero USUARIOS BLENDERSEYEWEAR donde est&aacute;n incluidos sus datos  est&aacute; alojado en un Data center con las maximas garantias de seguridad , con la finalidad de poder recibir la prestaci&oacute;n de servicios de nuestro proveedor de Internet y llevar a cabo las autenticaciones de usuarios cuando acceden a realizar compras on line a BLENDERSEYEWEAR, Tienda de Gafas 

		En los supuestos en los que BLENDERSEYEWEAR, Tienda de Gafas prevea ceder sus datos personales a terceros, obtendr&aacute; previamente su consentimiento inequ&iacute;voco para efectuar dichas cesiones inform&aacute;ndole en los correspondientes formularios electr&oacute;nicos de inscripci&oacute;n o solicitud de la finalidad o finalidades a que se destinar&aacute;n los datos objeto de cesi&oacute;n, as&iacute; como de la identidad y tipo de actividad del cesionario. A los datos personales del CLIENTE podr&aacute;n tener acceso terceras compa&ntilde;&iacute;as o profesionales cuya intervenci&oacute;n sea necesaria para la prestaci&oacute;n del servicio (tales como servicios de gestiones administrativas, transmisi&oacute;n de datos, recogida de datos, almacenamiento de datos,...) y con las que BLENDERSEYEWEAR, Tienda de Gafas, a tal efecto y como responsable del fichero, suscribir&aacute; un contrato de prestaci&oacute;n de servicios con la empresa en cuesti&oacute;n, que actuar&aacute; como Encargado del Tratamiento de conformidad con la ley 15/99 de 13 de diciembre sobre Protecci&oacute;n de Datos Personales. En dicho contrato, se recoger&aacute;n las instrucciones de BLENDERSEYEWEAR, Tienda de Gafas al Encargado del tratamiento para la utilizaci&oacute;n de los datos, el nivel y medidas de seguridad aplicables a los mismos y las garant&iacute;as establecidas para el uso y eliminaci&oacute;n de los datos una vez terminado el servicio contratado. Los datos personales de los CLIENTES no son objeto de transferencia internacional alguna. En el supuesto de que BLENDERSEYEWEAR, Tienda de Gafas, en un futuro, prevea realizar un movimiento internacional de datos, comunicar&aacute; previamente dicha cesi&oacute;n a los afectados, una vez comprobada la no aplicaci&oacute;n de las prohibiciones recogidas en la Ley 15/99 de 13 de diciembre sobre Protecci&oacute;n de Datos Personales.




		Ejercicio de derechos de acceso, rectificaci&oacute;n, cancelaci&oacute;n y oposici&oacute;n
		El USUARIO podr&aacute; solicitar en cualquier momento, el acceso al fichero de datos personales almacenado en BLENDERSEYEWEAR, Tienda de Gafas con el fin de obtener informaci&oacute;n sobre sus datos sometidos a tratamiento as&iacute; como sobre las comunicaciones realizadas a los mismos, en su caso, o para obtener la rectificaci&oacute;n, cancelaci&oacute;n, modificaci&oacute;n u oposici&oacute;n al tratamiento de sus datos personales, de conformidad con el procedimiento creado por BLENDERSEYEWEAR, Tienda de Gafas al efecto. Dichos derechos podr&aacute;n ejercitarse mediante notificaci&oacute;n escrita dirigida a BLENDERSEYEWEAR,  Avda Jose Martinez Gonzalez n 25 2d- 03600 Elda – Alicante- Espa&ntilde;a o por correo electr&oacute;nico a la direcci&oacute;n hola@Blenderseyewear.es.

		En este caso ser&aacute; necesario que el usuario haga llegar junto a la solictud efectuada una copia de su dni o cif, a fin de comprobar su identidad.

		Dispone siempre de la posibilidad de baja autom&aacute;tica en cualquier comunicado que se le efect&uacute;e por e-mail.

		Y en prueba de conformidad y aceptaci&oacute;n del contenido de la presente Solicitud, el USUARIO pulsa sobre el bot&oacute;n enviar en manifestaci&oacute;n de su consentimiento al tratamiento de sus datos personales.
	
	</div>
{% endblock content %}